@font-face {
    font-family: shabnam;
    src: url("../fonts/shabnam/Shabnam.9858acf0af3e.eot") format('eot');
    src: url("../fonts/shabnam/Shabnam.eaf70407d8fe.ttf") format('ttf');
    src: url("../fonts/shabnam/Shabnam.2ed475cd4e8e.woff") format('woff');
    src: url("../fonts/shabnam/Shabnam.e40e4142fb1a.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: shabnam;
}
