<!-- farsi/templates/farsi/persian_textarea.html -->
{% load farsi_tags %}

<div class="mb-3">
    {% if label %}
    <label for="id_{{ name }}" class="form-label{% if required %} required{% endif %}">
        {{ label }}
    </label>
    {% endif %}

    <textarea
        name="{{ name }}"
        id="id_{{ name }}"
        rows="{{ rows }}"
        class="form-control{% if required %} required{% endif %}"
        placeholder="{{ placeholder }}"
        {{ extra_attrs|safe }}
    >{% if value %}{{ value }}{% endif %}</textarea>

    {% if help_text %}
    <div class="form-text">{{ help_text }}</div>
    {% endif %}
</div>