{% extends '_base.html' %}

{% block head %}
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>خطای ۴۰۱ صفحه‌ی مدیریت</title>
{% endblock head %}

{% block content %}
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">۴۰۱</h1>
                                    <p class="lead">غیر مجاز</p>
                                    <p>اجازه‌ی دسترسی به این محتوا را ندارید</p>
                                    <a href="{% url 'index' %}">
                                        <i class="fas fa-arrow-right me-1"></i>
                                        بازگشت به صفحه‌ی پیش‌خوان
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
{% endblock content %}