<script type="text/javascript">
    (function(){
    var now = new Date();
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.async = true;
    var script_address = 'https://cdn.yektanet.com/js/reeborg.ir/native-reeborg.ir-18891.js';
    script.src = script_address + '?v=' + now.getFullYear().toString() + '0' + now.getMonth() + '0' + now.getDate() + '0' + now.getHours();
    head.appendChild(script);
    })();
</script>

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>



<div id="pos-article-text-28849"></div>

<amp-ad
width="100"
height="30"
heights="(min-width: 768px) 60%, 45%"
layout="responsive"
type="yektanet"
data-publisher-name="reeborg.ir"
data-script-name="native-amp-reeborg.ir-1695.js"
data-pos-id="pos-article-display-63641">
</amp-ad>
