{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Send an email{% endblock %}

{% block content %}
<div class="container px-5 my-5 bac">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 rounded-3 shadow-lg bg-gradient text-dark ">
                <div class="card-body p-4 ">
                    <div class="h1 fw-light text-center ">تماس با ما</div>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form |crispy }}

                        <!-- Submit error message -->
                        <div class="d-none" id="submitErrorMessage">
                            {% if success_message %}
                            <div class="text-center text-success mb-3">{{ message }}</div>
                            {% elif fail_message %}
                            <div class="text-center text-danger mb-3">{{ message }}</div>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="d-grid">
                            <!-- Submit button -->
                            <input class="btn btn-primary btn-lg" id="submitButton" type="submit" value="ثبت" />
                            <!-- End of contact form -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content%}
{% block extrajs %}
<script type="text/javascript">
    $(function () {
        $('#id_name').focus()
    });
</script>
{% endblock extrajs%}